/*********************************************

logo center

*********************************************/
.logo-center{
    text-align: center;
}
.logo-center img{
    width: 22% !important;
}

/*********************************************

image left

*********************************************/
.image-left{
    display: flex;
}
.image-left div{
    width: 50%;
}
.image-left img{
    width: 100%;
}
.image-left-content{
    padding-left: 60px;
    padding-right: 60px;
    font-size: 16px;
}
@media (orientation: portrait) {
    .image-left{
        display: block;
    }
    .image-left div{
        width: 100%;
    }
}

/*********************************************

image right

*********************************************/
.image-right{
    display: flex;
}
.image-right div{
    width: 50%;
}
.image-right img{
    width: 100%;
}
.image-right-text{
    padding-left: 60px;
    padding-right: 60px;
    font-size: 16px;
}
@media (orientation: portrait) {
    .image-right{
        display: block;
    }
    .image-right div{
        width: 100%;
    }
}

/*********************************************

footer default

*********************************************/
.footer-default-copyright p{
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.footer-default-social{
    text-align: center;
}
.footer-default-social ul{
    display: inline-flex;
    list-style: none;
}
.footer-default-social ul li{
    padding-left: 5px;
    padding-right: 5px;
}
.footer-default-social ul li a{
    transition: color 0.5s ease-in-out;
    text-decoration: none;
    font-size: 30px;
}

